[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[maintenance]
	repo = /home/tlemay/Documents/zshplugins/jeffreytse/zsh-vi-mode
	repo = /home/tlemay/Documents/zshplugins/marlonrichert/zsh-autocomplete
	repo = /home/tlemay/Documents/zshplugins/ohmyzsh/ohmyzsh
	repo = /home/tlemay/Documents/zshplugins/xPMo/zsh-toggle-command-prefix
	repo = /home/tlemay/Documents/zshplugins/zdharma/fast-syntax-highlighting
	repo = /home/tlemay/Documents/zshplugins/zsh-users/zsh-autosuggestions
	repo = /home/tlemay/Documents/zshplugins/zsh-users/zsh-completions
	repo = /home/tlemay/Documents/zshplugins/zsh-users/zsh-history-substring-search
	repo = /home/tlemay/Documents/Tesla/firmware-scalar/src
	repo = /home/tlemay/Documents/Tesla/firmware-scalar
	repo = /Users/theol/Documents/zshplugins/zdharma/fast-syntax-highlighting
	repo = /Users/theol/Documents/zshplugins/marlonrichert/zsh-autocomplete
	repo = /Users/theol/Documents/zshplugins/zsh-users/zsh-autosuggestions
	repo = /Users/theol/Documents/zshplugins/zsh-users/zsh-completions
	repo = /Users/theol/Documents/zshplugins/zsh-users/zsh-history-substring-search
[scalar]
	repo = /home/tlemay/Documents/Tesla/firmware-scalar/src
	repo = /home/tlemay/Documents/Tesla/firmware-scalar
[user]
	name = Theo Lemay
	email = tlemay@tesla.com

[include]
    path = ~/.gitconfig-personal

[includeIf "gitdir:/Users/theol/work/"]
    path = ~/.gitconfig-work
