[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[maintenance]
	repo = /home/tlemay/Documents/zshplugins/jeffreytse/zsh-vi-mode
	repo = /home/tlemay/Documents/zshplugins/marlonrichert/zsh-autocomplete
	repo = /home/tlemay/Documents/zshplugins/ohmyzsh/ohmyzsh
	repo = /home/tlemay/Documents/zshplugins/xPMo/zsh-toggle-command-prefix
	repo = /home/tlemay/Documents/zshplugins/zdharma/fast-syntax-highlighting
	repo = /home/tlemay/Documents/zshplugins/zsh-users/zsh-autosuggestions
	repo = /home/tlemay/Documents/zshplugins/zsh-users/zsh-completions
	repo = /home/tlemay/Documents/zshplugins/zsh-users/zsh-history-substring-search
[user]
	email = theol0403@gmail.com
	name = Theo Lemay
